<li>
	{{name}}

	<button class="change-devoure" data-id="{{id}}" data-newdevoure="{{devoure}}">
		Devoure Me
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
